<h1>Add feed</h1>
<form id="addFeedForm" {{action "saveFeed" on="submit"}}>
  <div class="modal-body">
    <label for="feedUrl">#{t.edit_feed.url}</label>
    {{input type="text" class="form-control" id="feedUrl" value=model.url}}
    <label for="feedFolder">#{t.edit_feed.folder}</label>
    {{input type="text" class="form-control" id="feedFolder" value=folderTitle}}
  </div>
  <div class="modal-footer">
    <button type="submit" id="saveFeedButton" class="btn btn-primary">
      #{t.edit_feed.save}
    </button>
  </div>
</form>
