<div id="item-list">
  <div>
    <ul class="item-list list-unstyled">
      {{#each model as |item|}}
        {{item-element model=item onSelect=(action "selectItem")}}
      {{/each}}
    </ul>
  </div>
</div>
