<div id="item-list">
  <div>
    <ul class="item-list list-unstyled">
      {{#each model as |item|}}
        {{item-element model=item onSelect="selectItem" selectedItem=selectedItem}}
      {{/each}}
      {{infinity-loader infinityModel=model loadingText=(t "loading") loadedText=""}}
    </ul>
  </div>
</div>
