<h1>{{t "settings"}}</h1>

<form accept-charset="UTF-8" action="/opml_upload" enctype="multipart/form-data" method="post">
  <input class="form-control" id="opml_file" name="opml[file]" type="file" />
  <input class="btn btn-primary" value="Upload" type="submit" />
</form>

<input {{action "doSync"}} class="btn btn-primary" value="Sync" type="button" />
